body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #eeeeee;
}

.fundo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
}

.quadra{
    background-color: #d52121;
    height: 30px;
    width: 30px;
}

.meio {
    width: 30%;
    height: 45%;
    background-color: #272424;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px;
    animation: slideInUp 1.5s;
    box-shadow: 1px 1px 1px 1px 10px rgba(0, 0, 0, 0.274);
    transition: 0.5s;
    text-indent: 20px;
    letter-spacing:  0.1em;
    overflow: hidden;
}

.botoes {
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-around;
}

fieldset {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 80%;
    height: 85%;
    font-size: 25px;
    border: none;
    text-indent: 10px;
}

.caixa_larga {
    width: 95%;
    height: 40px;
    font-size: 80%;
    border: 2px black solid;
    border-radius: 30px;
    padding-left: 10px;
}

.escrita {
    color: black;
    font-size: 120%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 87%;
}

.meio legend{
    color: #efe9e9;
    font-size: 20px;
    align-items: center;
    align-content: center;
    overflow: hidden;

}

.barra {
    width: 85%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    animation: slideInDown 1.5s;
    position: fixed;
    top: 10px;
}

a.voltar:hover {
    background-color: white;
    border: 2px rgb(51, 51, 51) solid;
}

a {
    cursor: pointer;
}

.formulario {
    height: 90%;
    width: 90%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-around;
    -webkit-user-select: none;
    background-color: #3a3737;
    inset: 4px;
    padding: 12px 20px;
    overflow: hidden;
    border-radius: 10px;
    animation: slideInUp 1.5s;
    box-shadow: 1px 1px 1px 1px 10px rgba(0, 0, 0, 0.274);
    transition: 0.5s;
    text-indent: 20px;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Versões padrão */
}

.titulo{
    background-color: #d5212100;
    margin-bottom: 20px;
    font-family: Verdana;
    font-size: 15px;
}
.continuar {
    text-decoration: none;
    cursor: pointer;
    width: 45%;
    height: 100%;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #620f0f;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    transition: 0.5s;
    border: 2px black solid;
  }

.continuar:hover {
    background-color: #d52121;
    border: 2px rgb(42, 18, 18) solid;
    color: white;
    cursor: pointer;
}