.textoAE{
    width: 50%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    font-size: 12px;

}

.ae,.af{
    height: 5%;
}


.sinais{
    display: flex;
    background-color: #D9D9D9;
    border: 0px; 
    transition: 1s;
    width: 50%;
    height: 30px;
    font-size: 15px;
  
}
::-webkit-scrollbar {
    display: none;
  }
  

.tempo{
    width: 50%;
    height: 30px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tempo[type="time"]:checked{
    border-bottom: 2px solid #75777D;
}

.pAnamnese{
   
    width: 50%;
    height: 1050px;
    max-height: 1050px;
    border-radius: 20px;
    margin-top: 30%;    
     
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;


}

.tc{
    

    color: #1E232C;
    border-bottom: 10px solid #75777D;
    padding: 1% ;
    margin-bottom: 1%;
    font-size: 16px;
    display: flex;
    width: 100%;
}

.sinais:focus{
    border: none;
    outline: none;
    border-radius: 0%;
    
 
    transition: .5s; 
}
.opcoesE{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opc[type="radio"]{
    height: 25px;
    width: 25px;   
    display: flex;
    
    appearance: none;
    border: 1px solid #B1B1B1;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5) ;
    outline: #1E232C;
  
    transition: .5s;
}


.opc[type="radio"]:checked{
    box-sizing: border-box;
    appearance: none;
    background: #1E232C;
    border: none;
    border-radius: 0%;

    width: 30px;  
    height: 30px;  
    transition: .5s;
}

.opc label{
    display: inline-block;
}

.a{
    width: 100%;
    height: 50%;
    display: flex;
  
   
    align-items: center;
   
    
}

.caixaPesquisa{
    outline: none;
    border: none;
   
    width: 75%;
    padding: 1.5%;
}

.p{
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .sinais{
        height: 100px;
        width: 80%;
    }

    .textoAE{
        width: 80%;
        height: 40px;
      
    }

    .tc{
       
    }
   

    .alt{
      
    }

    .pagina11,.pagina10{
        height: 2000px;
    }


    .a{
        height: 200px;
        justify-content: space-evenly;
        align-items: center;
    }

    .opc[type="radio"]{
        height: 40px;
        width: 40px;
    }
}