.texto{
    width: 50%;
    height: 100px;
    font-size: 20px;
    display: flex;
  
    flex-direction: column;
    font-size: 12px;

}

.ae,.af{
    height: 5%;
}


.sinais{
    display: flex;
    background-color: #D9D9D9;
    border: 0px;
    transition: 1s;
    width: 50%;
    height: 50px;
    margin-bottom: 2%;
}

.tempo{
    width: 30%;
   
    background-color: #D9D9D9;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tempo[type="time"]:checked{
    border-bottom: 2px solid #75777D;
}

.tc{
    

    color: #1E232C;

    margin-top: 20px ;
    border-bottom: 10px solid #C0C0C0;

    font-size: 16px;
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 1%;
 
 
}

.sinais:focus{
    border: none;
    outline: none;
    border-radius: 0%;
    
    border-bottom: 5px solid #B1B1B1;
    transition: .5s; 
}
.opcoesE{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opc[type="radio"]{
    height: 25px;
    width: 25px;   
    display: flex;
    
    appearance: none;
    border: 1px solid #B1B1B1;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5) ;
    outline: #1E232C;
    margin:1%;
    transition: .5s;
}


.opc[type="radio"]:checked{
    box-sizing: border-box;
    appearance: none;
    background: #1E232C;
    border: none;
    border-radius: 0%;
    outline: 10px solid #D9D9D9; 
    width: 30px;  
    height: 30px;  
    transition: .5s;
}

.opc label{
    display: inline-block;
}

.a{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 10px;
   
    align-items: center;
   
    
}

.caixaPesquisa{
    outline: none;
    border: none;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 75%;
    padding: 1.5%;
}

.p{
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .sinais{
        height: 100px;
        width: 80%;
    }

    .texto{
        width: 80%;
        height: 50px;
      
    }

    .alt{
       margin-bottom: 12.5%;
       margin-top: 2.5%;
    }

    .pagina11,.pagina10{
        height: 2000px;
    }

    .tc{
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .a{
        height: 200px;
        justify-content: space-evenly;
        align-items: center;
    }

    .opc[type="radio"]{
        height: 40px;
        width: 40px;
    }
}