body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #eeeeee;
}

.aceito {
    text-decoration: none;
    cursor: pointer;
    width: 45%;
    height: 90%;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .barra {
    width: 85%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    animation: slideInDown 1.5s;
    position: fixed;
    top: 10px;
}
.aceito:hover {
    background-color: #f8f8f8;
    border: 1px solid rgba(255, 255, 255, 0.699);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.negado {
    text-decoration: none;
    cursor: pointer;
    width: 45%;
    height: 90%;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #df2525;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    transition: 0.5s;
  }

.negado:hover {
    background-color: #f13636;
    border: 1px solid rgba(255, 255, 255, 0.699);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.botoes{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}
.termoRecusa{
    font-size: 28px;
    text-align: center;
    width: 300px;
    height: 200px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #1e232c;

}