html,
body {
  width: 100%;  
  display: flex;
  flex-direction: column;
  
}

td{
  color: black;
}

.formulario {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.caixa_sexo{
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(54, 54, 54);
}
.caixa_sexo :focus{
  background-color: rgb(8, 53, 80);
}

.botoes {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botao_proximo {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: #1E232C 2px solid;
}
.botao_proximo:hover{
  background-color: rgb(5, 91, 148);
  color: aliceblue;
}
.tabela {
  border: #1E232C 2px solid;
  width: 80%;
  height: 90%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.caixa {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  border: #1E232C 2px solid;
  padding-left: 10px;
}

.caixa1 {
  width: 15%;
  height: 30px;
  border-radius: 20px;
  border: #1E232C 2px solid;
  padding-left: 10px;
}

B {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}

.cabecalho{
  background-color: #1E232C;
  color: white;
  z-index: 2;
  width: 100%;
  height: 10%;
  font-size: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t{
  width: 100%;
  color: white;
}
.titulo,.subtitulo{
  height: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 20px;
}

.subtitulo{
  


  font-weight: normal;

}
.sexo_check{
  background-color: #20242c;
  width: 70px;
  height: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
}

.radio_sexo{
  display: none;
}
.radio_sexo:checked + .sexo_check{
  background-color: #AF1521;
}

@media (max-width: 600px) {
  B {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  B {
    font-size: 17px;
  }
}
@media (max-width: 1000px) {
  .tabela {
    width: 95%;
  }
}

