html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

td {
  color: black;
}

.formulario {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}



.caixa_sexo {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(54, 54, 54);
}

.caixa_sexo :focus {
  background-color: rgb(8, 53, 80);
}

.botoes {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botao_proximo {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: #1E232C 2px solid;
}

.botao_proximo:hover {
  background-color: rgb(5, 91, 148);
  color: aliceblue;
}

.tabela {
  border: #1E232C 2px solid;
  width: 80%;
  height: 90%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.caixa {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  border: #1E232C 2px solid;
  padding-left: 10px;
}

.caixa1 {
  width: 15%;
  height: 30px;
  border-radius: 20px;
  border: #1E232C 2px solid;
  padding-left: 10px;
}

B {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}

.t {
  width: 100%;
  color: white;
}

.btnE {
 
  background-color: #1d4983; 
  border: none; 
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  align-items: center;
  justify-content: center;
  width: 50%;
  display: flex; 
  font-size: 16px; 
  cursor: pointer; 
 
  border-radius: 4px; 
}

.btnE:hover {
  
  background-color: rgb(23, 103, 194); 
}

.hf{
  width: 50%;
  
}

.sexo_check {
  background-color: #20242c;
  width: 70px;
  height: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  margin-right: 20px;

}

.radio_sexo {
  display: none;
}

.radio_sexo:checked+.sexo_check {
  background-color: #AF1521;
}

.rodape_menu {
  width: 80%;
  height: 10%;
  margin-left: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.imagem_logo {
  width: 30%;
}

a.suporte {
  cursor: pointer;
  text-decoration: none;
  color: rgb(69, 145, 231);
}

.fale_conosco {
  cursor: pointer;
  color: rgb(69, 145, 231);
}

.ajuda {
  cursor: pointer;
  color: rgb(69, 145, 231);
}

.menu {
  width: 20%;
  height: 100%;
  background-color: #1d4983;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 50;
  transition: 0.5s;
}

.logos {
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.opcoes {
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.opition {
  width: 80%;
  height: 22px;
  padding: 5px;
  padding-left: 10px;
  background-color: rgb(23, 103, 194);
  color: white;
  margin: 5px;
  border-radius: 20px;
}

a.opition {
  text-decoration: none;
  transition: 0.5s;
}

a.opition:hover {
  background-color: rgb(47, 150, 219);

}

.pop-up_faleconosco {
  position: fixed;
  left: 35%;
  top: 15%;
  width: 30%;
  height: 50%;
  z-index: 100;
  background-color: rgb(13, 70, 134);
  border-radius: 10px;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 20px;
}

@media (max-width: 600px) {
  B {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  B {
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .tabela {
    width: 95%;
  }
}