
.body,html {
   
    padding: 0;
    margin: 0;
}

img{
   display: flex;
  
}

.mapa{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 0;
   height: 100%;
   width: 100%;
   background: white;

}

.container{
    height: 500px;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
 
    
}
.h{
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2)
}

.d1{
    width: 500px;
    height: 100px;
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
}

.d2{
    display: flex;
    justify-content: center;
    height: 75px;
  
   /* border: 2px solid red; */
}

.d3{
    height: 75px;
    width: 50px;
    display: flex;
   /* border: 2px solid red; */

}

.q{
    width: 100px;
    height: 30px;
    justify-content: center;


}
.d4{
    width: 40px;
    height: 120px;
   /* border: 2px solid red; */
}


.quadI
{
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 1%;

    overflow: hidden;
}

.r{
    flex-direction: row;
    justify-content: center;
    height: 75px;
}

.f{
    height: 50px;
}

.v{
    height: 50px;
    width: 55px;
}

.s{
    height: 50px;
}

.c{
    height: 35px;
}

.cx{
    height: 120px;
}

.b{
    height: 95px;
    align-items: end;
}


.cabeca,.pescoco,.tricepsD,.tricepsE,.bicepsD,.bicepsE,.peitoD,.peitoE,.barrigaD,.barrigaE,.pelvis,.coxaD,.coxaE,.peD,.peE,.maoD,.maoE{

    position: relative;
    transition: .5s;
    opacity: 1;
    width: inherit;
    height: inherit;
    border: 1px solid white;
}

.barrigaD,.barrigaE{
    width: 48px;
}

.pescspc{
    width: 140px;
}

.bicepsD,.bicepsE{
    height: 50px;
}

.pernaE,.pernaD{
    height: 120px;
    width: 40px;
}

.maoE,.maoD{
    width: 30px;
    height: 40px;
    border: none;
}

.coxaD,.coxaE{
    width: 55px;
}
.pelvis{
    width: 110.5px;
    height: 35px;
}
.peD,.peE{
    height: 40px;
    width: 40px;
}



.r2{
    justify-content: center;
    display: flex;
    align-items: center;
}


.h:hover{
    transition: .5s;
    filter: sepia(100%) hue-rotate(150deg) saturate(150%) brightness(10);
    opacity: 100;
}

.imLT{
    transition: .5s;
    filter: sepia(50%) hue-rotate(150deg) saturate(50%) brightness(10);
    opacity: 100;
}

.ltb{
    margin-top: 2%;
    border: 2px solid white;
}

.popUP{
    display: none;
    width: 40%;
    height: 70%;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 20%;
    border-left: 1px solid #1d4983;
    border-right: 1px solid #1d4983;
   
    align-items: center;
    justify-content: center;
  
    position: absolute;
   
    flex-direction: column;

}


.m{
    width: 100%;
    height: 30%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    flex-direction: column;
    color: #1E232C;
    border-top: 5px solid #1d4983;
    border-left: 1px solid #1d4983;
    border-right: 1px solid #1d4983;
    padding-top: 5%;

}

.m1{
    height: 55%;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #1d498363 0%,  rgba(29, 73, 131, 0.689) 100%);
    
    border-bottom: 10px solid #0a599b;

}

.p{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
   
   
}

.tri{
    width: 100%;
    height: 30%;

    display: flex;
    margin-bottom: 2.5%;
    align-items: center;
    justify-content: space-around;
    font-size: 5px;
    
}   



.fechar{
    position: absolute;

    color: #0a599b;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 5%;
    font-size: 20px;

    border: 2px solid #1d4983;
    border-radius: 50%;
    left: 85%;
    cursor: pointer;
    transition: .25s;
}

.fechar:hover{
    font-size: 25px;
    background-color: #1d4983;
    color: white;
}


p{
    margin: 0;
    padding-top: 4%;
    background-color: #1d4983;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.tra[type="checkbox"]:not(:checked), 
.tra[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;

}

.tra[type="checkbox"] + label {
  

  cursor: pointer;
  height: 50px;
  width: 80%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #1E232C;
  color: white;
  border-radius: 10px;
  
  background-color: #1d4983;
  margin-bottom: 10px;
}


.btnF{
    width: 80%;
    height: 5%;
    background-color: #1272c1bd;
    margin-bottom: 3%;
   

    padding: 1%;
    color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    transition: 1s;
}



.btnF:hover{
    background-color: #0a599b;
}


.tra[type="checkbox"]:checked + label {
  border-bottom: 1px solid white;
  color: white;
  background-color: #1272c1;
  height: 52px;
  border-radius: 0px;
  transition: 1s;
}

.escolha{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tras{
    display: flex;
}
.pagina{
    height: 1200px;
    min-height: 1200px;
    
}

.mudarC{
    width: 40%;
    height: 8%;
    display: flex;
    background-color: #C0C0C0;
  
    justify-content: space-between;
}
.opcC{
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90131D;
}

.t{
    background-color: #5B5B5B;
       
}

.im{
    margin-bottom: 10%;
}

/* Hide the actual radio input */
.spc[type="radio"] {
    display: none;
  }
  
  /* Style the label associated with the radio input */
  .spc[type="radio"] + label {
    cursor: pointer;
    height: 40px; /* Adjust the height as needed */
    width: 45%;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 30px; /* Add some padding for the radio indicator */
    border-bottom: 1px solid #1E232C;
    color: white;
    transition: 0.5s;
    background-color: #1d4983;
  }
  
  
  .spc[type="radio"]:checked + label {
    border-bottom: 1px solid white;
    color: white;
    background-color: #0a599b;
    transition: 0.5s;
  }
  

  .spc[type="radio"]:checked + label::before {
    content: "\2022"; 
    transition: 0.5s;
    font-size: 20px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust spacing between the indicator and text */
  }


.ContainerFerimentos{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 700px;
    width: 60%;
    margin-bottom: 5%;
    border: 2px solid #AF1521;
}

.FerFra{
    display: flex;
    height: 200px;
    width: 300px;
    border: 2px solid #AF1521;
}

.tabelaF{
    width: 100%;
    height: 5%;
    display: flex;

}

.tabelaQuad{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .fechar{
        left: 90%;
    }

    .pagina{
        height: 1000px;
    }
    .popUP{
        width: 80%;
        overflow: hidden;
        height: 50%;
      
    }
    .cabecalho{
        padding: 0%;
    }
    .btnF{
        margin-top: 6%;
    }

    .m{
        height: 40%;
    }
}





