html,
body {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.texto {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.imagem {
    position: absolute;
    width: 5%;
    left: 47%;
    top: 10px;
}
.listar{
    text-decoration: none;
    color: white;
    
}
.botao {
    width: 20%;
    height: 30px;
}

.resultado {
    width: 100%;
}

.container {
    width: 30%;
    min-height: 50%;
    padding: 0px 30px 20px 30px;
    min-height: 35%;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    color: white;
    background-color: #1e232c;
    font-size: 15px;
}


.dif {
    padding: 0%;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 15px;
}

tr:hover {
    background-color: rgba(72, 167, 255, 0.664);
}

th {
    background-color: rgb(35, 108, 177);
    color: white;
}

.cont2 {
    border-radius: 0px;
    background-color: #e0e0e0;
    color: black;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    font-size: 10px;
    align-items: baseline;
    justify-content: left;
    flex-direction: row;
}

.voltar {
    width: 120px;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}