html, body
{
 
  width: 100%;
}
.body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
}

.cabecalho{
  background-color: #1E232C;
  color: white;

  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.titulo,.subtitulo{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.subtitulo{
  height: 25%;
  font-size: 12.5px;
  font-weight: normal;
  align-items: baseline;
}



.titulo{
  width: 100%;
  height: 40px;
  background-color: #1e232c;
  color: white;
  font-size: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
textarea.objetos{
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 15px;
  width: 80%;

}