.tudo {
    width: 100%;
}

.caixa_texto {
    width: 90px;
    height: 20px;
    border-radius: 20px;
    padding-left: 10px;
    max-width: 80%;
    border: none;
    outline: none;
  
}
.caixa_numero {
    width: 50px;
    height: 20px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    border: none;
    outline: none;
  
}

.container_sinais{
    margin-bottom: 2%;
}

.tSv{
    width: 75%;
    height: 100%;
    height: auto;
}