body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(250, 249, 249);
}

h1{
  font-size: 30px;
}

.container_nivel-consciencia {
  width: 50%;
  height: 30%;
  padding: 20px;
  background-color: #1e232c;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
  border-radius: 10px;
  animation: slideInUp 1.5s;
  box-shadow: 1px 1px 1px 1px 10px rgba(0, 0, 0, 0.274);
  transition: 0.5s;
  text-indent: 20px;
  color: white;
  font-size: 20px;
}

select {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
}
@media(max-width:1200px){
  .container_nivel-consciencia{
    width: 70%;
  }
}
@media(max-width:900px){
  .container_nivel-consciencia{
    width: 75%;
  }
}
@media(max-width:700px){
  .container_nivel-consciencia{
    width: 80%;
  }
  select {
    width: 340px;
  }
}
@media(max-width:500px){
  .container_nivel-consciencia{
    width: 85%;
  }
  select {
    width: 250px;
  }
}
@media(max-width:300px){
  .container_nivel-consciencia{
    width: 90%;
  }
  select {
    width: 200px;
  }
}