

h1{
  font-size: 30px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container_nivel-consciencia {
  max-width: 800px;
  width: 600px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;

  border-bottom: 10px solid #1d4983;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
 
}

.select_nc {
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #1d4983;
  
  
  font-size: 16px;
  transition: .5s;

  margin-top: 1%;
  
  
}



.btnF {
  display: block;
  width: 50%;

  height: 50px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #1d4983;
  color: white;
  border: none;
  transition: .5s;
  border-radius: 5px;
  cursor: pointer;
}

.select_nc option {
  background-color: white;
  
  border-radius: 50px;
  height: 50px;
  transition: .5s;
}


.select_nc option:hover {
  background-color: #f0f0f0;
  transition: .5s;
}

.btnF:hover {
  background-color: #007bff;

}
@media(max-width:1200px){
  .container_nivel-consciencia{
    width: 70%;
  }
}
@media(max-width:900px){
  .container_nivel-consciencia{
    width: 75%;
  }
}
@media(max-width:700px){
  .container_nivel-consciencia{
    width: 80%;
  }
  select.select_nc {
    width: 90%;
  }
}
@media(max-width:500px){
  .container_nivel-consciencia{
    width: 85%;
  }
  select.select_nc {
    width: 90%;
  }
}
@media(max-width:300px){
  .container_nivel-consciencia{
    width: 92%;
  }
  select.select_nc {
    width: 90%;
  }
}